<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <a href="first.html"></a>
    <h1>Welcome <%= user %> !<br>You login success !</h1>
</body>

</html>